.center_wrapper > div {
    display: table-cell;
    vertical-align: middle;
}
.center_wrapper > div > div {
    /* match jQuery UI .ui-widget-content color */
    color: #2e6e9e;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    font-size: 12px;
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
}
.center_wrapper > div > div h1 {
    text-align: center;
    font-size: 14px;
}
svg {
    width: 100%;
    height: 1px;
    border: 1px solid #7fa2ff;
    font-size: 15px;
    /* font-size: 14px; */
}
svg.reselect {
    border: 1px solid #ff3333;
}
/* "basic" font */
text {
    font-size: 13px;
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
}
@-webkit-keyframes pulse {
    0% {
        color: #9999ff;
        margin-top: 0;
    }
    50% {
        color: #ffffff;
        margin-top: 7px;
    }
    100% {
        color: #9999ff;
        margin-top: 0;
    }
}

path {
    pointer-events: none;
}

/* "basic" font */
.span text {
    /*  font-size: 10.5px; */
    font-size: 10px;
    text-anchor: middle;
    font-family: 'PT Sans Caption', sans-serif;
    pointer-events: none;
}

.attribute_type_label .ui-button-text {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
}

.span rect {
    stroke-width: 0.75;
}

.span path {
    fill: none;
}

.span path.curly {
    /* 'stroke' def here blocks 'stroke' set in JS..? */
    /* stroke: grey; */
    stroke-width: 0.5;
}

.arcs path {
    stroke: #989898;
    fill: none;
    stroke-width: 1;
}

.arcs .highlight path {
    stroke: #000000;
    stroke-width: 1.5;
    opacity: 1;
}

.arcs .highlight text {
    stroke: black;
    fill: black;
    stroke-width: 0.5;
}

.span.highlight rect {
    stroke-width: 2px;
}
.arcs .reselect path {
    stroke-width: 2px;
    stroke: #ff0000 !important;
}
.arcs .reselect text {
    fill: #ff0000 !important;
}
.arcs text {
    font-size: 9px;
    text-anchor: middle;
    font-family: 'PT Sans Caption', sans-serif;
    /* dominant-baseline: central; */
    cursor: default;
}
.background0 {
    stroke: none;
    fill: #ffffff;
}
.background1 {
    stroke: none;
    fill: #eeeeee;
}
.sentnum text {
    fill: #999999;
    text-anchor: end;
}
.sentnum path {
    stroke: #999999;
    stroke-width: 1px;
}

fieldset {
    /* match relevant parts of jQuery UI .ui-widget-content */
    border: 1px solid #a6c9e2;
    /* round corners, same as jQuery UI .ui-corner-all */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* to prevent border from running into legend */
    margin-top: 5px;
}

fieldset legend {
    font-weight: bold;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #70a8d2;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#search_form select {
    width: 100%; /* deal with overflowing selectboxes */
}

.scroll_fset fieldset {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll_fset fieldset {
    padding-bottom: 2em;
}

/* end HACK */
.scroll_fset div.scroller {
    overflow: auto;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans'), local('Liberation-Sans'), url('static/fonts/Liberation_Sans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Caption'), local('PTSans-Caption'), url('static/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
}

/* Apple iPad, iPhone, iPod */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    select: none;
}
.span rect.MissingAnnotation + text {
    opacity: 0.5;
}