#main-content {
    width: 100%;
    margin-left: 0%;
    overflow: scroll;
}

#render-area {
    width: 100%;
	padding: 10px;
}

.view-area {
    padding: 10px 0px;
}

#input-area {
    width: 80%;
    padding: 10px;
}

#main-content textarea {
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
}

.visualization-block {
    display: block;
    height: 100% !important;
    width: 100%;
}